<div id="container" class="lg:px-[160px] lg:pt-[144px] lg:pb-[40px]">
    <div id="split-column" class="grid lg:grid-cols-[7fr_3fr] gap-4 lg:mb-[72px]">
        <div id="first-column" class="lg:space-y-[72px]">

            <!-- Recommendation -->

            <div id="content1">
                <div id="first-row" class="grid lg:grid-cols-2 lg:mb-[24px]">
                    <h3 class="font-merriweather text-[#594A42] lg:text-xl">
                        Recommendation
                    </h3>
                    <p class="font-opensans lg:text-md lg:ml-auto lg:text-[#80695d]">See more</p>
                </div>
                <div id="second-row" class="grid lg:grid-cols-5 lg:gap-6">
                    <% content.forEach((content) =>{%>
                    <div class="bg-white rounded-md overflow-hidden shadow-md border border-[#ededed] lg:h-[200px]">
                    <img src="<%= content.image %>" alt="Book Title" class="w-full h-full object-cover"/>

                    </div>
                    <% }) %>
                </div>
            </div>


            <!-- Fiction -->

            <div id="content2">
                <div id="first-row" class="grid lg:grid-cols-2 lg:mb-[24px]">
                    <h3 class="font-merriweather text-[#594A42] lg:text-xl">
                        Fiction
                    </h3>
                    <p class="font-opensans lg:text-md lg:ml-auto lg:text-[#80695d] ">See more</p>
                </div>
                <div id="second-row" class="grid lg:grid-cols-5 lg:gap-6">
                    <% content1.forEach((content) =>{%>
                    <div class="bg-white rounded-md overflow-hidden shadow-md border border-[#ededed] lg:h-[200px]">
                    <img src="<%= content.image %>" alt="Book Title" class="w-full h-full object-cover"/>

                    </div>
                    <% }) %>
                </div>
            </div>



            <!-- Romance -->
            
            <div id="content3">
                <div id="first-row" class="grid lg:grid-cols-2 lg:mb-[24px]">
                    <h3 class="font-merriweather text-[#594A42] lg:text-xl">
                        Romance
                    </h3>
                    <p class="font-opensans lg:text-md lg:ml-auto lg:text-[#80695d] ">See more</p>
                </div>
                <div id="second-row" class="grid lg:grid-cols-5 lg:gap-6">
                    <% content2.forEach((content) =>{%>
                    <div class="bg-white rounded-md overflow-hidden shadow-md border border-[#ededed] lg:h-[200px]">
                    <img src="<%= content.image %>" alt="Book Title" class="w-full h-full object-cover"/>

                    </div>
                    <% }) %>
                </div>
            </div>


            <!-- Fantasy -->

            <div id="content4">
                <div id="first-row" class="grid lg:grid-cols-2 lg:mb-[24px]">
                    <h3 class="font-merriweather text-[#594A42] lg:text-xl">
                        Fantasy
                    </h3>
                    <p class="font-opensans lg:text-md lg:ml-auto lg:text-[#80695d] ">See more</p>
                </div>
                <div id="second-row" class="grid lg:grid-cols-5 lg:gap-6">
                    <% content3.forEach((content) =>{%>
                    <div class="bg-white rounded-md overflow-hidden shadow-md border border-[#ededed] lg:h-[200px]">
                    <img src="<%= content.image %>" alt="Book Title" class="w-full h-full object-cover"/>

                    </div>
                    <% }) %>
                </div>
            </div>


        </div>

        <div id="second-column">
        </div>
    </div>
</div>


<!-- <body> -->
    <!-- <div id="container" class="lg:px-[180px] lg:pt-[144px] lg:pb-[40px]">
        <div id="two-column" class="grid lg:grid-cols-[7fr_3fr] gap-4 lg:mb-[72px]"></div>
            <div id="first-column" class="">
                <div id="first-row">
                    <h3 class="font-merriweather text-[#594A42] lg:text-xl lg:mb-[24px]">
                    Recommended Books
                </h3>
                <div class="grid grid-cols-2 lg:grid-cols-5 gap-6">
                    <% content.forEach((content) =>{%>
                <div class="bg-white rounded-md overflow-hidden shadow-lg border border-[#ededed] lg:h-[200px]">
                    <img
                    src="<%= content.image %>"
                    alt="Book Title"
                    class="w-full h-full object-cover"
                    />
                </div>
                    <% }) %>
                </div>
                

                

            </div>
            
            <div id="second-column" class="lg:ml-[40px]">
            </div>
        </div>

            

        
    </div>

</body> -->

      
      
        

      <!-- <div class="grid lg:grid-cols-[7fr_3fr] gap-4">
        <div class="grid lg:grid-cols-2">
          <h3 class="font-merriweather text-[#594A42] lg:text-xl lg:mb-[24px]">
            Fiction Books
          </h3>
          <p class="font-opensans lg:text-md lg:ml-auto">See more</p>
        </div>
        <div></div>
      </div>

      <div class="grid lg:grid-cols-[7fr_3fr] gap-4 lg:mb-[72px]">
        <div class="grid grid-cols-2 lg:grid-cols-5 gap-6">
          <% content1.forEach((book) => {%>
          <div
            class="bg-white rounded-md overflow-hidden shadow-lg border border-[#ededed] lg:h-[200px]"
          >
            <img
              src="<%= book.image %>"
              alt="Book Title"
              class="w-full h-full object-cover"
            />
          </div>
          <% }) %>
        </div>
      </div> -->

      <!-- <div class="grid lg:grid-cols-[7fr_3fr] gap-4 lg:mb-[72px]">
        <div class="grid grid-cols-2 lg:grid-cols-5 gap-6">
          <% content2.forEach((book) => {%>
          <div
            class="bg-white rounded-md overflow-hidden shadow-lg border border-[#ededed] lg:h-[200px]"
          >
            <img
              src="<%= book.image %>"
              alt="Book Title"
              class="w-full h-full object-cover"
            />
          </div>
          <% }) %>
        </div>
      </div> -->

      <!-- <h3 class="font-merriweather text-[#594A42] lg:text-xl lg:mb-[24px]">
        Fantasy Books
      </h3>
      <div class="grid lg:grid-cols-[7fr_3fr] gap-4 lg:mb-[72px]">
        <div class="grid grid-cols-2 lg:grid-cols-5 gap-6">
          <% content3.forEach((book) => {%>
          <div
            class="bg-white rounded-md overflow-hidden shadow-lg border border-[#ededed] lg:h-[200px]"
          >
            <img
              src="<%= book.image %>"
              alt="Book Title"
              class="w-full h-full object-cover"
            />
          </div>
          <% }) %>
        </div> -->
      </div>
    </div>